<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856838075242-p71dv1obcjb4giqvo8t93hfgl1ppaobf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856838075242-p71dv1obcjb4giqvo8t93hfgl1ppaobf</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ4cGloTjHby_9m6sfS6vSn_G2FL0Z-pM</string>
	<key>GCM_SENDER_ID</key>
	<string>856838075242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laporte.timelineFirebase</string>
	<key>PROJECT_ID</key>
	<string>timeline-firebase-1771f</string>
	<key>STORAGE_BUCKET</key>
	<string>timeline-firebase-1771f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856838075242:ios:6fb868d9c70e2d5bceab13</string>
</dict>
</plist>